.Score, .Leaderboard {
    text-shadow: 6px 6px 10px #000000;
}

.Score, .Leaderboard {
    border: 1px solid rgb(255, 0, 157);
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background: radial-gradient(circle,#29386b00 0,#3b364b 100%);
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px rgb(255, 0, 157), 0 0 10px rgb(255, 0, 157), 5px 8px 6px -6px black;
    -webkit-box-shadow: inset 0 0 10px rgb(255, 0, 157), 0 0 10px rgb(255, 0, 157), 5px 8px 6px -6px black;
    box-shadow:         inset 0 0 10px rgb(255, 0, 157), 0 0 10px rgb(255, 0, 157), 5px 8px 6px -6px black;
}