.PreviewBlocks {
    border: 1px solid rgb(255, 187, 0);
    min-width: 191px;
    min-height: 50px;
}

.Info {
    border: 1px solid rgb(255, 187, 0);
}

.PreviewBlocks, .Info {
    text-shadow: 6px 6px 10px #000000;
}

.PreviewBlocks, .Info {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background: radial-gradient(circle,#29386b00 0,#3b364b 100%);
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px rgb(255, 187, 0), 0 0 10px rgb(255, 187, 0), 5px 8px 6px -6px black;
    -webkit-box-shadow: inset 0 0 10px rgb(255, 187, 0), 0 0 10px rgb(255, 187, 0), 5px 8px 6px -6px black;
    box-shadow:         inset 0 0 10px rgb(255, 187, 0), 0 0 10px rgb(255, 187, 0), 5px 8px 6px -6px black;
}

.PreviewContainer {
    /* background-color:  honeydew;  */
    border-spacing: 1px;
    font-size: 9px;
    margin: auto;
}

.PreviewContainer td {
    width: 26px;
    height: 26px;
    padding: 0;
    border: 1px solid #6d6d6d00;
}