.nav-pills {
    position: fixed;
    font-family: Baloo;
    top: 0;
    left: 0;
    background: rgba(10, 0, 100, 0.562);
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
    transition: 0.2s;
}

.nav-pills h1 {
    text-shadow: 6px 6px 10px #000000;
}

.nav-pills a {
    font-size: 22px;
    color: #fff;
    transition: 0.2s;
}

.nav-pills a:hover {
    color: #fff;
    text-shadow: 6px 6px 10px #000000, 0 0 7px rgb(255, 0, 149);
}

.nav-pills ul {
    margin: 0;
    padding: 0;
}

.nav-pills li {
    display: inline-block;
    margin: auto;
    width: 33.3%;
    text-align: center;
    text-shadow: 6px 6px 10px #000000;
}

.login {
    
    color: #fff;
    padding: 6px 15px;
    border-radius: 6px;
    /* background-color: #6d4100; */
    background-image: linear-gradient(to right, #bd5454, #852D91, rgb(211, 68, 255), rgb(230, 51, 51));
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    font-size: 20px;
    transition: 0.5s;
    position: relative;
    border: 0.5px solid grey;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.login:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@keyframes slide {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 600vw;
    }
  }

.rgbGradient {
    background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
	background-size:600vw 600vw;
	-webkit-animation: slide 10s infinite linear forwards;
}
